.flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url("/img/flags.png");
}

.intl-tel-input .ad {
    background-position: -16px 0;
}
.intl-tel-input .ae {
    background-position: -32px 0;
}
.intl-tel-input .af {
    background-position: -48px 0;
}
.intl-tel-input .ag {
    background-position: -64px 0;
}
.intl-tel-input .ai {
    background-position: -80px 0;
}
.intl-tel-input .al {
    background-position: -96px 0;
}
.intl-tel-input .am {
    background-position: -112px 0;
}
.intl-tel-input .an {
    background-position: -128px 0;
}
.intl-tel-input .ao {
    background-position: -144px 0;
}
.intl-tel-input .ar {
    background-position: -160px 0;
}
.intl-tel-input .as {
    background-position: -176px 0;
}
.intl-tel-input .at {
    background-position: -192px 0;
}
.intl-tel-input .au {
    background-position: -208px 0;
}
.intl-tel-input .aw {
    background-position: -224px 0;
}
.intl-tel-input .az {
    background-position: -240px 0;
}
.intl-tel-input .ba {
    background-position: 0 -11px;
}
.intl-tel-input .bb {
    background-position: -16px -11px;
}
.intl-tel-input .bd {
    background-position: -32px -11px;
}
.intl-tel-input .be {
    background-position: -48px -11px;
}
.intl-tel-input .bf {
    background-position: -64px -11px;
}
.intl-tel-input .bg {
    background-position: -80px -11px;
}
.intl-tel-input .bh {
    background-position: -96px -11px;
}
.intl-tel-input .bi {
    background-position: -112px -11px;
}
.intl-tel-input .bj {
    background-position: -128px -11px;
}
.intl-tel-input .bm {
    background-position: -144px -11px;
}
.intl-tel-input .bn {
    background-position: -160px -11px;
}
.intl-tel-input .bo {
    background-position: -176px -11px;
}
.intl-tel-input .br {
    background-position: -192px -11px;
}
.intl-tel-input .bs {
    background-position: -208px -11px;
}
.intl-tel-input .bt {
    background-position: -224px -11px;
}
.intl-tel-input .bv {
    background-position: -240px -11px;
}
.intl-tel-input .bw {
    background-position: 0 -22px;
}
.intl-tel-input .by {
    background-position: -16px -22px;
}
.intl-tel-input .bz {
    background-position: -32px -22px;
}
.intl-tel-input .ca {
    background-position: -48px -22px;
}
.intl-tel-input .catalonia {
    background-position: -64px -22px;
}
.intl-tel-input .cd {
    background-position: -80px -22px;
}
.intl-tel-input .cf {
    background-position: -96px -22px;
}
.intl-tel-input .cg {
    background-position: -112px -22px;
}
.intl-tel-input .ch {
    background-position: -128px -22px;
}
.intl-tel-input .ci {
    background-position: -144px -22px;
}
.intl-tel-input .ck {
    background-position: -160px -22px;
}
.intl-tel-input .cl {
    background-position: -176px -22px;
}
.intl-tel-input .cm {
    background-position: -192px -22px;
}
.intl-tel-input .cn {
    background-position: -208px -22px;
}
.intl-tel-input .co {
    background-position: -224px -22px;
}
.intl-tel-input .cr {
    background-position: -240px -22px;
}
.intl-tel-input .cu {
    background-position: 0 -33px;
}
.intl-tel-input .cv {
    background-position: -16px -33px;
}
.intl-tel-input .cw {
    background-position: -32px -33px;
}
.intl-tel-input .cy {
    background-position: -48px -33px;
}
.intl-tel-input .cz {
    background-position: -64px -33px;
}
.intl-tel-input .de {
    background-position: -80px -33px;
}
.intl-tel-input .dj {
    background-position: -96px -33px;
}
.intl-tel-input .dk {
    background-position: -112px -33px;
}
.intl-tel-input .dm {
    background-position: -128px -33px;
}
.intl-tel-input .do {
    background-position: -144px -33px;
}
.intl-tel-input .dz {
    background-position: -160px -33px;
}
.intl-tel-input .ec {
    background-position: -176px -33px;
}
.intl-tel-input .ee {
    background-position: -192px -33px;
}
.intl-tel-input .eg {
    background-position: -208px -33px;
}
.intl-tel-input .eh {
    background-position: -224px -33px;
}
.intl-tel-input .england {
    background-position: -240px -33px;
}
.intl-tel-input .er {
    background-position: 0 -44px;
}
.intl-tel-input .es {
    background-position: -16px -44px;
}
.intl-tel-input .et {
    background-position: -32px -44px;
}
.intl-tel-input .eu {
    background-position: -48px -44px;
}
.intl-tel-input .fi {
    background-position: -64px -44px;
}
.intl-tel-input .fj {
    background-position: -80px -44px;
}
.intl-tel-input .fk {
    background-position: -96px -44px;
}
.intl-tel-input .fm {
    background-position: -112px -44px;
}
.intl-tel-input .fo {
    background-position: -128px -44px;
}
.intl-tel-input .fr {
    background-position: -144px -44px;
}
.intl-tel-input .ga {
    background-position: -160px -44px;
}
.intl-tel-input .gb {
    background-position: -176px -44px;
}
.intl-tel-input .gd {
    background-position: -192px -44px;
}
.intl-tel-input .ge {
    background-position: -208px -44px;
}
.intl-tel-input .gf {
    background-position: -224px -44px;
}
.intl-tel-input .gg {
    background-position: -240px -44px;
}
.intl-tel-input .gh {
    background-position: 0 -55px;
}
.intl-tel-input .gi {
    background-position: -16px -55px;
}
.intl-tel-input .gl {
    background-position: -32px -55px;
}
.intl-tel-input .gm {
    background-position: -48px -55px;
}
.intl-tel-input .gn {
    background-position: -64px -55px;
}
.intl-tel-input .gp {
    background-position: -80px -55px;
}
.intl-tel-input .gq {
    background-position: -96px -55px;
}
.intl-tel-input .gr {
    background-position: -112px -55px;
}
.intl-tel-input .gs {
    background-position: -128px -55px;
}
.intl-tel-input .gt {
    background-position: -144px -55px;
}
.intl-tel-input .gu {
    background-position: -160px -55px;
}
.intl-tel-input .gw {
    background-position: -176px -55px;
}
.intl-tel-input .gy {
    background-position: -192px -55px;
}
.intl-tel-input .hk {
    background-position: -208px -55px;
}
.intl-tel-input .hm {
    background-position: -224px -55px;
}
.intl-tel-input .hn {
    background-position: -240px -55px;
}
.intl-tel-input .hr {
    background-position: 0 -66px;
}
.intl-tel-input .ht {
    background-position: -16px -66px;
}
.intl-tel-input .hu {
    background-position: -32px -66px;
}
.intl-tel-input .ic {
    background-position: -48px -66px;
}
.intl-tel-input .id {
    background-position: -64px -66px;
}
.intl-tel-input .ie {
    background-position: -80px -66px;
}
.intl-tel-input .il {
    background-position: -96px -66px;
}
.intl-tel-input .im {
    background-position: -112px -66px;
}
.intl-tel-input .in {
    background-position: -128px -66px;
}
.intl-tel-input .io {
    background-position: -144px -66px;
}
.intl-tel-input .iq {
    background-position: -160px -66px;
}
.intl-tel-input .ir {
    background-position: -176px -66px;
}
.intl-tel-input .is {
    background-position: -192px -66px;
}
.intl-tel-input .it {
    background-position: -208px -66px;
}
.intl-tel-input .je {
    background-position: -224px -66px;
}
.intl-tel-input .jm {
    background-position: -240px -66px;
}
.intl-tel-input .jo {
    background-position: 0 -77px;
}
.intl-tel-input .jp {
    background-position: -16px -77px;
}
.intl-tel-input .ke {
    background-position: -32px -77px;
}
.intl-tel-input .kg {
    background-position: -48px -77px;
}
.intl-tel-input .kh {
    background-position: -64px -77px;
}
.intl-tel-input .ki {
    background-position: -80px -77px;
}
.intl-tel-input .km {
    background-position: -96px -77px;
}
.intl-tel-input .kn {
    background-position: -112px -77px;
}
.intl-tel-input .kp {
    background-position: -128px -77px;
}
.intl-tel-input .kr {
    background-position: -144px -77px;
}
.intl-tel-input .kurdistan {
    background-position: -160px -77px;
}
.intl-tel-input .kw {
    background-position: -176px -77px;
}
.intl-tel-input .ky {
    background-position: -192px -77px;
}
.intl-tel-input .kz {
    background-position: -208px -77px;
}
.intl-tel-input .la {
    background-position: -224px -77px;
}
.intl-tel-input .lb {
    background-position: -240px -77px;
}
.intl-tel-input .lc {
    background-position: 0 -88px;
}
.intl-tel-input .li {
    background-position: -16px -88px;
}
.intl-tel-input .lk {
    background-position: -32px -88px;
}
.intl-tel-input .lr {
    background-position: -48px -88px;
}
.intl-tel-input .ls {
    background-position: -64px -88px;
}
.intl-tel-input .lt {
    background-position: -80px -88px;
}
.intl-tel-input .lu {
    background-position: -96px -88px;
}
.intl-tel-input .lv {
    background-position: -112px -88px;
}
.intl-tel-input .ly {
    background-position: -128px -88px;
}
.intl-tel-input .ma {
    background-position: -144px -88px;
}
.intl-tel-input .mc {
    background-position: -160px -88px;
}
.intl-tel-input .md {
    background-position: -176px -88px;
}
.intl-tel-input .me {
    background-position: -192px -88px;
}
.intl-tel-input .mg {
    background-position: -208px -88px;
}
.intl-tel-input .mh {
    background-position: -224px -88px;
}
.intl-tel-input .mk {
    background-position: -240px -88px;
}
.intl-tel-input .ml {
    background-position: 0 -99px;
}
.intl-tel-input .mm {
    background-position: -16px -99px;
}
.intl-tel-input .mn {
    background-position: -32px -99px;
}
.intl-tel-input .mo {
    background-position: -48px -99px;
}
.intl-tel-input .mp {
    background-position: -64px -99px;
}
.intl-tel-input .mq {
    background-position: -80px -99px;
}
.intl-tel-input .mr {
    background-position: -96px -99px;
}
.intl-tel-input .ms {
    background-position: -112px -99px;
}
.intl-tel-input .mt {
    background-position: -128px -99px;
}
.intl-tel-input .mu {
    background-position: -144px -99px;
}
.intl-tel-input .mv {
    background-position: -160px -99px;
}
.intl-tel-input .mw {
    background-position: -176px -99px;
}
.intl-tel-input .mx {
    background-position: -192px -99px;
}
.intl-tel-input .my {
    background-position: -208px -99px;
}
.intl-tel-input .mz {
    background-position: -224px -99px;
}
.intl-tel-input .na {
    background-position: -240px -99px;
}
.intl-tel-input .nc {
    background-position: 0 -110px;
}
.intl-tel-input .ne {
    background-position: -16px -110px;
}
.intl-tel-input .nf {
    background-position: -32px -110px;
}
.intl-tel-input .ng {
    background-position: -48px -110px;
}
.intl-tel-input .ni {
    background-position: -64px -110px;
}
.intl-tel-input .nl {
    background-position: -80px -110px;
}
.intl-tel-input .no {
    background-position: -96px -110px;
}
.intl-tel-input .np {
    background-position: -112px -110px;
}
.intl-tel-input .nr {
    background-position: -128px -110px;
}
.intl-tel-input .nu {
    background-position: -144px -110px;
}
.intl-tel-input .nz {
    background-position: -160px -110px;
}
.intl-tel-input .om {
    background-position: -176px -110px;
}
.intl-tel-input .pa {
    background-position: -192px -110px;
}
.intl-tel-input .pe {
    background-position: -208px -110px;
}
.intl-tel-input .pf {
    background-position: -224px -110px;
}
.intl-tel-input .pg {
    background-position: -240px -110px;
}
.intl-tel-input .ph {
    background-position: 0 -121px;
}
.intl-tel-input .pk {
    background-position: -16px -121px;
}
.intl-tel-input .pl {
    background-position: -32px -121px;
}
.intl-tel-input .pm {
    background-position: -48px -121px;
}
.intl-tel-input .pn {
    background-position: -64px -121px;
}
.intl-tel-input .pr {
    background-position: -80px -121px;
}
.intl-tel-input .ps {
    background-position: -96px -121px;
}
.intl-tel-input .pt {
    background-position: -112px -121px;
}
.intl-tel-input .pw {
    background-position: -128px -121px;
}
.intl-tel-input .py {
    background-position: -144px -121px;
}
.intl-tel-input .qa {
    background-position: -160px -121px;
}
.intl-tel-input .re {
    background-position: -176px -121px;
}
.intl-tel-input .ro {
    background-position: -192px -121px;
}
.intl-tel-input .rs {
    background-position: -208px -121px;
}
.intl-tel-input .ru {
    background-position: -224px -121px;
}
.intl-tel-input .rw {
    background-position: -240px -121px;
}
.intl-tel-input .sa {
    background-position: 0 -132px;
}
.intl-tel-input .sb {
    background-position: -16px -132px;
}
.intl-tel-input .sc {
    background-position: -32px -132px;
}
.intl-tel-input .scotland {
    background-position: -48px -132px;
}
.intl-tel-input .sd {
    background-position: -64px -132px;
}
.intl-tel-input .se {
    background-position: -80px -132px;
}
.intl-tel-input .sg {
    background-position: -96px -132px;
}
.intl-tel-input .sh {
    background-position: -112px -132px;
}
.intl-tel-input .si {
    background-position: -128px -132px;
}
.intl-tel-input .sk {
    background-position: -144px -132px;
}
.intl-tel-input .sl {
    background-position: -160px -132px;
}
.intl-tel-input .sm {
    background-position: -176px -132px;
}
.intl-tel-input .sn {
    background-position: -192px -132px;
}
.intl-tel-input .so {
    background-position: -208px -132px;
}

.intl-tel-input .somaliland {
    background-position: -224px -132px;
}
.intl-tel-input .sr {
    background-position: -240px -132px;
}
.intl-tel-input .ss {
    background-position: 0 -143px;
}
.intl-tel-input .st {
    background-position: -16px -143px;
}
.intl-tel-input .sv {
    background-position: -32px -143px;
}
.intl-tel-input .sx {
    background-position: -48px -143px;
}
.intl-tel-input .sy {
    background-position: -64px -143px;
}
.intl-tel-input .sz {
    background-position: -80px -143px;
}
.intl-tel-input .tc {
    background-position: -96px -143px;
}
.intl-tel-input .td {
    background-position: -112px -143px;
}
.intl-tel-input .tf {
    background-position: -128px -143px;
}
.intl-tel-input .tg {
    background-position: -144px -143px;
}
.intl-tel-input .th {
    background-position: -160px -143px;
}
.intl-tel-input .tj {
    background-position: -176px -143px;
}
.intl-tel-input .tk {
    background-position: -192px -143px;
}
.intl-tel-input .tl {
    background-position: -208px -143px;
}
.intl-tel-input .tm {
    background-position: -224px -143px;
}
.intl-tel-input .tn {
    background-position: -240px -143px;
}
.intl-tel-input .to {
    background-position: 0 -154px;
}
.intl-tel-input .tr {
    background-position: -16px -154px;
}
.intl-tel-input .tt {
    background-position: -32px -154px;
}
.intl-tel-input .tv {
    background-position: -48px -154px;
}
.intl-tel-input .tw {
    background-position: -64px -154px;
}
.intl-tel-input .tz {
    background-position: -80px -154px;
}
.intl-tel-input .ua {
    background-position: -96px -154px;
}
.intl-tel-input .ug {
    background-position: -112px -154px;
}
.intl-tel-input .um {
    background-position: -128px -154px;
}
.intl-tel-input .us {
    background-position: -144px -154px;
}
.intl-tel-input .uy {
    background-position: -160px -154px;
}
.intl-tel-input .uz {
    background-position: -176px -154px;
}
.intl-tel-input .va {
    background-position: -192px -154px;
}
.intl-tel-input .vc {
    background-position: -208px -154px;
}
.intl-tel-input .ve {
    background-position: -224px -154px;
}
.intl-tel-input .vg {
    background-position: -240px -154px;
}
.intl-tel-input .vi {
    background-position: 0 -165px;
}
.intl-tel-input .vn {
    background-position: -16px -165px;
}
.intl-tel-input .vu {
    background-position: -32px -165px;
}
.intl-tel-input .wales {
    background-position: -48px -165px;
}
.intl-tel-input .wf {
    background-position: -64px -165px;
}
.intl-tel-input .ws {
    background-position: -80px -165px;
}
.intl-tel-input .ye {
    background-position: -96px -165px;
}
.intl-tel-input .yt {
    background-position: -112px -165px;
}
.intl-tel-input .za {
    background-position: -128px -165px;
}
.intl-tel-input .zanzibar {
    background-position: -144px -165px;
}
.intl-tel-input .zm {
    background-position: -160px -165px;
}
.intl-tel-input .zw {
    background-position: -176px -165px;
}
.intl-tel-input .mf {
    background-position: -192px -165px;
}
.intl-tel-input .xk {
    background-position: -207px -165px;
}
.intl-tel-input .cc {
    background-position: -224px -165px;
}
.intl-tel-input .ax {
    background-position: 0 10px;
}
.intl-tel-input .aq {
    background-position: -15px 10px;
}
.intl-tel-input .bl {
    background-position: -31px 10px;
}
.intl-tel-input .cx {
    background-position: -47px 11px;
}