.header-page .text {
  font-size: 2.571em; }

.margin-top-130 {
  margin-top: 130px; }

.padding-10px-40px {
  padding: 10px 40px; }

.container > .content {
  width: 810px;
  float: left;
  padding-left: 40px; }

.items {
  position: relative;
  margin-top: 20px; }
  .items .arrow:after {
    top: 11px;
    left: 13px; }
  .items > .header {
    color: #3f4761;
    font-family: "Britannic Bold";
    font-size: 1.714em;
    font-weight: 400;
    margin-bottom: 20px; }
  .items > .item {
    margin-bottom: 15px; }
    .items > .item > .header {
      position: relative;
      height: 34px;
      line-height: 34px;
      padding-left: 40px;
      border: 1.5px solid #3f4761;
      border-radius: 10px;
      color: #414964;
      font-weight: 700;
      transition: all 0.5s; }
      .items > .item > .header:hover {
        cursor: pointer; }
      .items > .item > .header.open, .items > .item > .header:hover {
        transition: all 0.5s;
        background-color: white; }
    .items > .item > .content {
      display: none;
      padding: 0px 50px;
      color: #393939;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
      transition: max-height 0.5s ease-out; }
      .items > .item > .content:after {
        content: '';
        display: block;
        width: 100%;
        height: 10px; }
      .items > .item > .content > .header {
        margin-top: 10px;
        color: #3f4761;
        font-family: "Britannic Bold";
        font-size: 1.714em;
        font-weight: 400;
        margin-bottom: 10px; }
      .items > .item > .content.open {
        padding: 20px 50px 0px 50px;
        margin-top: -20px; }

a {
  text-decoration: none; }
  a p {
    font-size: 1.5em;
    margin: 15px; }

.example-horizontal-line {
  height: 1px;
  border: none;
  background-color: grey; }

.example-of-essay p {
  text-indent: 25px; }
.example-of-essay .example-title {
  text-align: center;
  color: #414964;
  font-weight: 700;
  font-size: 1.5em;
  margin: 10px; }
.example-of-essay .references .reference {
  text-align: center;
  font-size: 1.4em;
  margin: 25px; }

/*# sourceMappingURL=write-my.css.map */
