#container-floatingCirclesG {
  opacity: 0;
  position: absolute;
  top: -30px;
  width: 100%; }

#floatingCirclesG {
  z-index: 132001;
  position: relative;
  display: block;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  transform: scale(0.16); }

@media (max-width: 1169px) {
  #floatingCirclesG {
    transform: scale(0.5);
    top: 29px;
    margin: 0px;
    margin-left: 185px; } }
.f_circleG {
  position: absolute;
  background-color: white;
  height: 22px;
  width: 22px;
  border-radius: 12px;
  animation-name: f_fadeG;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: normal; }

#frotateG_1 {
  left: 0;
  top: 51px;
  animation-delay: 0.45s; }

#frotateG_2 {
  left: 15px;
  top: 15px;
  animation-delay: 0.6s; }

#frotateG_3 {
  left: 51px;
  top: 0;
  animation-delay: 0.75s; }

#frotateG_4 {
  right: 15px;
  top: 15px;
  animation-delay: 0.9s; }

#frotateG_5 {
  right: 0;
  top: 51px;
  animation-delay: 1.05s; }

#frotateG_6 {
  right: 15px;
  bottom: 15px;
  animation-delay: 1.2s; }

#frotateG_7 {
  left: 51px;
  bottom: 0;
  animation-delay: 1.35s; }

#frotateG_8 {
  left: 15px;
  bottom: 15px;
  animation-delay: 1.5s; }

@keyframes f_fadeG {
  0% {
    background-color: #58658c; }
  100% {
    background-color: white; } }

/*# sourceMappingURL=spinner.css.map */
