@media (max-width:1169px){
  .message-container{
    .message{
      width: 75%!important;
    }
  }
  .inner-tab-content{
    width: 100%!important;
    .icon-container{
      width: 20%!important;
    }
  }
}
