$arrLen: 5, 10, 20, 35, 50, 120, 170;
 
$f-baseSize: 14px;
$colors: ("blue": #3f4761, "white": #ffffff, "orange": #ff7e00, "gray-b":#393939 , "selected-color":#393939, "border-color":#918e8e,"hover-color":#4d587b, "grey": #f7f8f9, "pink": #f77e7e, "error-pink": #ff7575, "input-blue": #566183, "dark-orange": #d66a01, "light-blue": #0084ff);

$time: 0.5s;

$base-width: 300px;
$base-height: 400px;

@mixin border-bottom-radius($radius){
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
@mixin border-top-radius($radius){
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}