@import "_functionsAndVars";
pop-up{
    position: fixed;
    visibility: hidden;
    display: flex;
    z-index: 99999000 !important;
    
    pop-up-content{
        position: relative;
        box-sizing: border-box;
        width: 589px;
        height: auto;
        background-color: white;
        border-radius: 10px;
        margin: 40px auto;
        padding: 40px 30px 40px 30px;
        transition: all 1s;

        close-pop-up{
            position: absolute;
            top: 30px;
            right: 30px;
            height: 20px;
            width: 20px;
            cursor: pointer;
            background-image: linear-gradient(45deg, transparent calc(50% - 1px), #ecedef calc(50% - 1px), #ecedef calc(50% + 1px), transparent calc(50% + 1px), transparent 100%),  linear-gradient(-45deg, transparent calc(50% - 1px), #ecedef calc(50% - 1px), #ecedef calc(50% + 1px), transparent calc(50% + 1px), transparent 100%);
            
            &:hover{
                background-image: linear-gradient(45deg, transparent calc(50% - 1px), #f77e7e calc(50% - 1px), #f77e7e calc(50% + 1px), transparent calc(50% + 1px), transparent 100%),  linear-gradient(-45deg, transparent calc(50% - 1px), #f77e7e calc(50% - 1px), #f77e7e calc(50% + 1px), transparent calc(50% + 1px), transparent 100%);
            }
        }

        .call{
            color: #ff7e00;
            font-family: Arial, serif;
            font-weight: 400;
            font-size: 1.3em;
            position: relative;
            
            &:after{
                content: '';
                position: absolute;
                display: block;
                border-bottom: 3px solid #ff7e00;
                width: 100%;
                margin-top: 10px;
                bottom: -14px;
                left: 0px
            }
        }
        hr{
            height: 1px;
            background-color: #ecedef;
            width: 100%;
            margin-top: 12px;
            margin-bottom: 30px;
            border: 0px;
        }
        p{
            color: #404863;
            font-family: Arial, serif;
            font-weight: 400;
        }

        form{
            width: 410px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 35px;
            height: auto;
            p{
                margin-left: 2px;
                margin-bottom: 14px;
                color: #566183;
                font-weight: 400;
            }
          
            input[type='text']{
                background-color: white;
                border: 1.5px solid #566183;
                border-radius: 10px;
                width: 258px;
                height: 30px;
                padding-left: 8px;
                color: #393939;
                opacity: 1;
                outline: none;
                box-sizing: border-box;
                font-size: 1em;
            }
            input[name='number']{
                padding-left: 47px;
                padding-right: 52px;
                margin: 0!important;
            }
            #selected-country{
                width: 15px;
                height: 11px;
                position: absolute!important;
                right: 26px!important;
                top: 10px!important;
            }
            textarea{
                background-color: white;
                border: 1.5px solid #566183;
                border-radius: 10px;
                width: 100%;
                height: 110px;
                padding-left: 8px;
                padding-top: 5px;
                outline: none;
            }
            .phone{
                width: 258px;
                border: none;
                margin: 0!important;
            }
            #phone{
                padding-left: 42px;
                padding-right: 54px;
            }
            .country-number{
                opacity: 0.5;
                color: #393939;
                font-weight: 400;
                position: absolute;
                top: 7px;
                left: 6px;
            }

            .selected-phone{
                padding-left: 36px!important;
            }
        }

        .button{
            margin-top: 20px;
            display: inline-block;
            float: right;
            height: 40px;
            
            .call-button{
                width: 140px;
                height: 32px;
                background-color: map_get($colors,'orange');
                border-radius: 8px;
                border-color: map_get($colors,'orange');
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom-color: #a55200;
                color: map_get($colors,'white');
                font-family: Arial, serif;
                font-size: 1.214em;
                font-weight: 700;
                line-height: 17px;
                cursor: pointer;
                outline: none;
                vertical-align: top;
            }
            .cancel-button{
                background-image: none !important;
                position: static !important;
                @extend .call-button;
                background-color: #f7f8f9!important;
                color: #7783a6!important;
                border-bottom-color: #dde3e9!important;
                margin-right: 10px;
                display: inline-block;
                line-height: 32px;
                text-align: center;
            }
            .call-button:hover{
                background-color: map_get($colors,'dark-orange');
                margin-top: 2px;
                border-bottom: 0;
            }
            .cancel-button:hover{
                background-color: #dde3e9!important;;
            }
        }
    }
    
    .error{
      border: 1.5px solid map_get($colors,'error-pink')!important;
      box-shadow: 0 0 5px map_get($colors,'error-pink')!important;
      color: map_get($colors,'error-pink')!important;
    }
    #name-error{
      border: none!important;
      box-shadow: none!important;
      position: absolute;
      top: 16px!important;
      right: 160px!important;
      color: map_get($colors,'pink')!important;
      font-size: 0.78em;
      font-weight: 400;
      display: none;
    }
    #number-error{
      @extend #name-error;
      right: 8px!important;
      top: -15px!important;
    }
}
@media (max-width: 1169px){
    pop-up{
        font-size: 0.8em;
        z-index: 1000;
    }
    pop-up-content{
        margin-top: 250px;
        width: 800px !important;
        padding: 40px 30px 60px 30px!important;
        
        close-pop-up{
            top: 40px !important;
            right: 40px !important;
            height: 30px !important;
            width: 30px !important;
        }

        form{
          width: 700px !important;

            .input-select{
                p{
                    margin-bottom: 22px!important;
                }
                select-box{
                    height: 75px;
                  
                    select-box-header{
                        line-height: 70px !important;
                        border-radius: 25px;
                        border: 3px solid #566183!important;
                    } 
                    select-box-content{
                        border-radius: 25px;
                    
                        .open{
                            border-width: 3px !important;
                        }
                    }
                }
            
          
                input{
                    height: 75px!important;
                    border-radius: 25px!important;
                    border: 3px solid #566183!important;
                    width: 100%!important;

                }
                input[name='number']{
                    height: 75px!important;
                    border-radius: 25px!important;
                    width: 100%!important;
                    border: none!important;
                    padding-left: 100px!important;
                }
                textarea{
                    border-radius: 25px!important;
                    border: 3px solid #566183!important;
                    font-size: 1em!important;
                    padding-left: 16px!important;
                    padding-top: 10px!important;
                    box-sizing: border-box;
                }
                .phone{
                    width: 100%!important;
                    height: 75px !important;
                }
                .country-number{
                    top: 19px!important;
                    left: 10px!important;
                }
                #selected-country{
                    display: none!important;
                }
            }
            .button{
                .call-button, .cancel-button{
                    width: 300px!important;
                    white-space: nowrap;
                    height: 60px!important;
                    border-radius: 20px!important;  
                    line-height: 60px;
                }
            }
        }
    }
}