@import "functionsAndVars";

@font-face {
  font-family: "Britannic Bold";
  src: url("/fonts/Britannic Bold Regular.ttf");
}
.logo {
  max-width: 1170px;
  margin: auto;
  a{
    font-family: "Britannic Bold", serif;
    font-size: 1.714em;
    font-weight: 700;
    line-height: 33px;
    color: #3f4761;
    text-decoration: none;
  }
  a:nth-of-type(2){
    color: #ff7e00;
  }
}

.margin-bottom-30{
  margin-bottom: 30px !important;
}
.margin-bottom-20{
  margin-bottom: 20px !important;
}
.padding-bottom-20{
  padding-bottom: 20px; 
}

.flex-5{
  flex: 5 !important;
}
.login-container{
  font-family: Arial;
  max-width: 780px;
  margin: auto;
  margin-top: 100px;
  background-color: #f7f8f9;
  border-radius: 10px;
  position: relative;
  
  .panel-block{
    max-width: 350px;
    margin: auto;
    display: flex;
    align-items: center;
    
    &>div:first-child{
      flex: 1;
      text-align: right;
      margin-right: 20px;
      color: #393939;
      font-size: 1em;
      font-weight: 400;
    }
    &>div:last-child{
      position: relative;
      flex: 3;
    }

    .login{
      text-align: left !important;
      color: #3f4761;
      line-height: 100px;
      font-size: 1.714em;
      font-weight: 400;
    }
    
    .container-button{
      display: flex;
      justify-content: center;
          
    }
    input{
      height: 2em;
      background-color: white;
      color: #566183;
      border: 1.5px solid #566183;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(23, 40, 94, 0.39);
      transition: all 0.30s ease-in-out;
      outline: none;
      padding-left: 10px;
      font-weight: 400;
      font-size: 1em;
      width: 100%;
      &:focus{
        box-shadow: 0 0 8px #566183;
        border: 1px solid #566183;
      }
    }
    button{
      box-sizing: content-box;
      text-decoration: none;
      vertical-align: top;
      min-width: 100px;
      font-size: 1em;
      font-weight: 700;
      height: 30px;
      display: inline-block;
      padding: 0 20px;
      cursor: pointer;
      border-radius: 8px;
      color: map_get($colors,'white');
      outline: none;
      border: none;
      border-bottom: 3px solid #c26000;
      background-image: linear-gradient(118deg, #ff9000 0%, #ff9000 60%, #ff9b19 60%, #ff9b19 100%);
      
      &:hover{
        margin-top: 3px;
        background-color: #d98029;
        background-image: none;
        border-bottom-width: 0px;
      }
    }

    .check-container{
      display: inline-block;
      vertical-align: top;
      .checkbox{
        width: 11px;
        height: 11px;
        border: 2px solid map_get($colors,'input-blue');
        position: relative;
        margin-right: 3px;
        cursor: pointer;
        display:  inline-block;
      }
      input[type='checkbox']:checked + .checkbox:after{
        content: '';
        position: absolute !important;
        height: 5px;
        width: 10px;
        border: 3px solid #616470;
        border-top: 0;
        border-right: 0;
        transform: rotate(-45deg);
        bottom: 4px;
        left: 2px;
        position: relative;
      }

    }
    .check-text{
      display: inline-block;
      span{
        color: #616470;
        margin-bottom: 5px;
      }
    }
    a{
      color: #0084ff;
      text-decoration: underline;
      font-family: Arial, serif;
    }
  }
  .error{
    border: 1.5px solid  #ff7575 !important;
    box-shadow: 0 0 5px  #ff7575 !important;
    color:  #ff7575 !important;
  }
  [id*="error"]{
    position: absolute;
    top: -20px;
    right: 10px;
    border: none !important;
    box-shadow: none!important;
    color: #ff7575 !important;
    font-size: 0.78em;
  }
}

.data-error{
  margin: 0px 0px 7px 10px;
  display: block;
  padding-bottom: 3px;
  border: none !important;
  box-shadow: none !important;
  color: #f77e7e !important;
  font-family: Arial, serif;
  font-size: 0.78em;
  font-weight: 400;
  transition: all 1s ease;
}

.alert{
  padding:15px;
  margin-bottom:20px;
  border:1px solid transparent;
  border-radius:4px
}
.alert-success{
  color:#3c763d;
  background-color:#dff0d8;
  border-color:#d6e9c6
}

@media (max-width: 1169px){
  body{
    font-size: 1.5em;
  }
  .logo{
    display: none;
  }
  .panel-block{
    flex-wrap: wrap;
    &>div{
      flex-basis: 100% !important;
      text-align: left !important;
      &:first-child{
        margin-bottom: 10px;
      }
    }
    input{
      border-radius: 20px !important;
    }
    button{
      border-radius: 20px !important;
      margin: auto;
      display: block;
    }
  }
}









