.guide-container{
	background-color: white;
    border-radius: 10px;
    padding: 50px;
    
    .guide-row{
    	display: flex;
    	
    	&:first-child{
    		&>div{
    			&:before{
    				display: none !important;
    			}
    		}
    	}
    	&>div{
    		
    		&:nth-child(1),
    		&:nth-child(3){
    			flex: 4;
    			display: flex;
		        align-items: center;
		        text-align: right;
    			&>img{
    				max-width: 300px;
    			}
    			&>div{
    				&>h1{
    					margin-top: 0px;
    					padding-top: 0px;
    				}
    				&>div{
    					color: #393939;
	    			}
	    		}
    		}
    		&:nth-child(3){
    			text-align: left !important;
    		}
    		&:nth-child(2){
    			flex: 2;
    			display: flex;
		        align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;
                
                &:after,
                &:before{
                	content: '';
                	display: block;
                	position: absolute;
                	left: calc(50% - 1px);
                	height: calc(50% - 34px);
                	width: 2px;
                	background-color: #404963;
                }
                &:after{
                	top: calc(50% + 34px);
                }
                &:before{
                	top: 0px !important;
                }
                
                &>div{
                	height: 65px;
                	width: 65px;
                	display: flex;
			        align-items: center;
	                justify-content: center;
                    border-radius: 50%;
                	border: 2px solid #404963;
                	font-size: 1.714em;
                	color: #404863;	
                }
    		}
    	}	
    }
}