@import "functionsAndVars";

.container{
  &>.content{
  	width: 810px;
  	float: left;
  	padding-left: 40px;
  	
  	@media (max-width: 1169px){
        box-sizing: border-box;
  		width: 100%;
  		padding-right: 40px;
  	}
  }
}

.items{
	position: relative;
	margin-top: 20px;
	
	.arrow:after{
		top: 11px;
		left: 13px;
	}

	&>.header{
		color: #3f4761;
		font-family: "Britannic Bold";
		font-size: 1.714em;
		font-weight: 400;
		margin-bottom: 20px;
	}
	&>.item{
		margin-bottom: 15px;
		&>.header{
			position: relative;
			min-height: 34px;
			line-height: 34px;
			padding-left: 40px;
			border: 1.5px solid #3f4761;
			border-radius: 10px;
			color: #414964;
			font-weight: 700;
			transition: all $time;
			@media (max-width: 1169px){
				line-height: 75px;
				border-radius: 25px;
			}
			&:hover{
				cursor: pointer;
			}
			&.open,
			&:hover{
				transition: all $time;
				background-color: white;
			}
		}
		&>.content{
			display: none;
			padding: 0px 50px;
			color:map-get($colors, 'gray-b');
			background-color: white;
			border-radius: 10px;
			overflow: hidden;
			transition: max-height $time ease-out;
			
			@media (max-width: 1169px){
		        box-sizing: border-box;
		  	}
			
			&:after{
				content:'';
				display: block;
				width: 100%;
				height: 10px;
			}

			&>.header{
				margin-top:10px;
				color: #3f4761;
				font-family: "Britannic Bold";
				font-size: 1.714em;
				font-weight: 400;
				margin-bottom: 10px;
			}
			&.open{
				padding: 20px 50px 0px 50px;
				margin-top: -20px;
			}
		}
	}
}
	