@import "functionsAndVars";

.header-page{
  .text{
    font-size: 2.571em;
  }
}
.margin-top-130{
  margin-top: 130px;
}
.padding-10px-40px{
  padding: 10px 40px;
}
//-----------------     Open Containers  ----------------------
.container{
  &>.content{
    width: 810px;
    float: left;
    padding-left: 40px;
  }
}

.items{
  position: relative;
  margin-top: 20px;

  .arrow:after{
    top: 11px;
    left: 13px;
  }

  &>.header{
    color: #3f4761;
    font-family: "Britannic Bold";
    font-size: 1.714em;
    font-weight: 400;
    margin-bottom: 20px;
  }
  &>.item{
    margin-bottom: 15px;
    &>.header{
      position: relative;
      height: 34px;
      line-height: 34px;
      padding-left: 40px;
      border: 1.5px solid #3f4761;
      border-radius: 10px;
      color: #414964;
      font-weight: 700;
      transition: all $time;
      &:hover{
        cursor: pointer;
      }
      &.open,
      &:hover{
        transition: all $time;
        background-color: white;
      }
    }
    &>.content{
      display: none;
      padding: 0px 50px;
      color:map-get($colors, 'gray-b');
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
      transition: max-height $time ease-out;

      &:after{
        content:'';
        display: block;
        width: 100%;
        height: 10px;
      }

      &>.header{
        margin-top:10px;
        color: #3f4761;
        font-family: "Britannic Bold";
        font-size: 1.714em;
        font-weight: 400;
        margin-bottom: 10px;
      }
      &.open{
        padding: 20px 50px 0px 50px;
        margin-top: -20px;
      }
    }
  }
}
a{
  text-decoration: none;
  p{
    font-size: 1.5em;
    margin: 15px;
  }
}
.example-horizontal-line{
  height: 1px;
  border: none;
  background-color: grey;
}
 // ------------------------- page example of essay
.example-of-essay{
  p{
    text-indent: 25px;
  }
  .example-title{
    text-align: center;
    color: #414964;
    font-weight: 700;
    font-size: 1.5em;
    margin: 10px;
  }
  .example-body{

  }

  .references{
    .reference{
      text-align: center;
      font-size: 1.4em;
      margin: 25px;
    }
  }
}